.google{
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
.social button:hover{
    color: rgb(11, 10, 10);
    background-color: coral;
}